/* Automatically style all screenshots in screenshots/ folder */
.md-typeset img[src*="images"] {
    border-radius: 8px;            /* your rounded corners */
    /* box-shadow: 0 6px 12px rgba(0,0,0,0.2);  your shadow */
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2); /* sharper and more focused */
    /* max-width: 86.5%;      prevent overflow on small screens */
    height: auto;     /* maintain aspect ratio */
    /* display: block;
    margin: 1.5rem auto; vertical spacing + center horizontally */
}

/* Screenshot styling for External Images*/
.screenshot {
  /* padding: 0.1rem; */
  /* background-color: var(--md-default-fg-color--lightest); */
  /* border-radius: 0.2rem; */
  border-radius: 8px;
  width: 100%;          /* explicitly smaller width */
  /* max-width: 90%;      prevent overflow on small screens */
  height: auto;     /* maintain aspect ratio */
  margin: auto;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0 6px 12px rgba(0,0,0,0.2); */
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2); /* sharper and more focused */
}

a {
  text-decoration: none !important;
}

.latest-docs {
    border-radius: 12px;
    padding: 1.5rem;
}


.md-grid {
  max-width: 1440px; 
}

.md-content {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.subtitle {
  margin-top: -1em; /* pull it closer to H1 */
  font-size: 1.3em;
  font-weight: 445; /* slightly lighter than normal */
  color: var(--md-typeset-secondary-text, #8c8c8c);
  line-height: 1.2;
}

/* .md-sidebar--secondary {
    border-left: 3px solid var(--md-default-fg-color--lightest);
} */

.md-nav--secondary {
    border-left: 3px solid var(--md-default-fg-color--lightest);
}

/* .md-grid {
  max-width: 74%;
  width: 74%;
} */

/* :root {
  --md-nav-width: 320px;
  --md-content-max-width: 960px;
  --md-toc-width: 300px;
} */

/* @media (min-width: 76.25em) {
  .md-main__inner {
    gap: 0.7rem;
  }
} */


