{% include "partials/actions.html" %}

{% if "\u003ch1" not in page.content %}
  {% set _rest = page.content %}
  <h1 id="__skip">{{ page.title | d(config.site_name, true)}}</h1>
{% else %}
  {% set _parts = page.content | split("</h1>") | list %}
  {{ _parts[0] | safe }}</h1>
  {% set _rest = _parts[1] | default("") %}
{% endif %}

{% if '<p class="subtitle">' in _rest %}
  {% set _sub_parts = _rest | split('<p class="subtitle">') | list %}
  {% if _sub_parts | length > 1 %}
    {% set _after_sub = _sub_parts[1] %}
    {% set _sub_sections = _after_sub | split('</p>') | list %}
    {% if _sub_sections | length > 1 %}
      {% set _sub_content = _sub_sections[0] | trim %}
      {% set _rest = _sub_parts[0] ~ (_sub_sections[1:] | join('</p>')) %}
    {% endif %}
  {% endif %}
  {% if _sub_content is defined %}
    <p class="subtitle">{{ _sub_content | safe }}</p>
  {% elif page.meta.description %}
    <p class="subtitle">{{ page.meta.description }}</p>
  {% endif %}
{% elif page.meta.description %}
  <p class="subtitle">{{ page.meta.description }}</p>
{% endif %}

{% if '<p class="doc-badge">' in _rest and '<h2' not in (_rest | split('<p class="doc-badge">') | first) and '<h3' not in (_rest | split('<p class="doc-badge">') | first) %}
  {% set _badge_parts = _rest | split('<p class="doc-badge">') | list %}
  {% if _badge_parts | length > 1 %}
    {% set _after_badge = _badge_parts[1] %}
    {% set _badge_sections = _after_badge | split('</p>') | list %}
    {% if _badge_sections | length > 1 %}
      {% set _badge_content = _badge_sections[0] | trim %}
      {% set _rest = _badge_parts[0] ~ (_badge_sections[1:] | join('</p>')) %}
    {% endif %}
  {% endif %}
  {% if _badge_content is defined %}
    <p class="doc-badge">{{ _badge_content | safe }}</p>
  {% elif page.meta.tnb == "trunk" or page.meta.tnb == "branch" and page.meta.plans or page.meta.cyb_extensions or page.meta.layouts or page.meta.feature_badges %}
    <p class="doc-badge">
      {%- if page.meta.tnb == "trunk" %}
        <a href="/resources/conventions/#適用方案" title="適用方案"><span class="twemoji">{% include ".icons/lucide/tag.svg" %}</span></a> | 全版本
      {%- elif page.meta.tnb == "branch" and page.meta.plans %}
        <a href="/resources/conventions/#適用方案" title="適用方案"><span class="twemoji">{% include ".icons/lucide/tag.svg" %}</span></a> | {{ page.meta.plans | join(" / ") }}
      {%- endif %}
      {%- if page.meta.cyb_extensions %}
        {%- if page.meta.tnb %}<br>{% endif %}
        <a href="/resources/conventions/#適用擴充" title="適用擴充"><span class="twemoji">{% include ".icons/lucide/grid-2x2-plus.svg" %}</span></a> | {{ page.meta.cyb_extensions | join(" / ") }}
      {%- endif %}
      {%- if page.meta.feature_badges %}
        {%- if page.meta.tnb or page.meta.cyb_extensions %}<br>{% endif %}
        <a href="/resources/conventions/#適用功能" title="適用功能"><span class="twemoji">{% include ".icons/lucide/bolt.svg" %}</span></a> | {{ page.meta.feature_badges | join(" / ") }}
      {%- endif %}
      {%- if page.meta.layouts %}
        {%- if page.meta.tnb or page.meta.cyb_extensions or page.meta.feature_badges %}<br>{% endif %}
        <a href="/resources/conventions/#適用版型" title="適用版型"><span class="twemoji">{% include ".icons/lucide/layout-dashboard.svg" %}</span></a> | {{ page.meta.layouts | join(" / ") }}
      {%- endif %}
    </p>
  {% endif %}
{% elif page.meta.tnb == "trunk" or page.meta.tnb == "branch" and page.meta.plans or page.meta.cyb_extensions or page.meta.layouts or page.meta.feature_badges %}
  <p class="doc-badge">
    {%- if page.meta.tnb == "trunk" %}
      <a href="/resources/conventions/#適用方案" title="適用方案"><span class="twemoji">{% include ".icons/lucide/tag.svg" %}</span></a> | 全版本
    {%- elif page.meta.tnb == "branch" and page.meta.plans %}
      <a href="/resources/conventions/#適用方案" title="適用方案"><span class="twemoji">{% include ".icons/lucide/tag.svg" %}</span></a> | {{ page.meta.plans | join(" / ") }}
    {%- endif %}
    {%- if page.meta.cyb_extensions %}
      {%- if page.meta.tnb %}<br>{% endif %}
      <a href="/resources/conventions/#適用擴充" title="適用擴充"><span class="twemoji">{% include ".icons/lucide/grid-2x2-plus.svg" %}</span></a> | {{ page.meta.cyb_extensions | join(" / ") }}
    {%- endif %}
    {%- if page.meta.feature_badges %}
      {%- if page.meta.tnb or page.meta.cyb_extensions %}<br>{% endif %}
      <a href="/resources/conventions/#適用功能" title="適用功能"><span class="twemoji">{% include ".icons/lucide/bolt.svg" %}</span></a> | {{ page.meta.feature_badges | join(" / ") }}
    {%- endif %}
    {%- if page.meta.layouts %}
      {%- if page.meta.tnb or page.meta.cyb_extensions or page.meta.feature_badges %}<br>{% endif %}
      <a href="/resources/conventions/#適用版型" title="適用版型"><span class="twemoji">{% include ".icons/lucide/layout-dashboard.svg" %}</span></a> | {{ page.meta.layouts | join(" / ") }}
    {%- endif %}
  </p>
{% endif %}

{{ _rest | safe }}

{% include "partials/tags.html" %}
{% include "partials/source-file.html" %}
{% include "partials/feedback.html" %}
{% include "partials/comments.html" %}

{% if page.meta.last_modified %}
<div class="doc-last-update">
  <hr>
  <p>最後更新：{{ page.meta.last_modified[:10] }}</p>
</div>
{% endif %}
